# Application base path
BASE_PATH=

# application setup
PORT='3000'

DB_HOST='nestjs-poc-keyclaok-database'
DB_PORT='5432'
DB_USERNAME='nestjs_poc_keyclaok'
DB_PASSWORD='nestjs_poc_keyclaok'
DB_DATABASE='nestjs_poc_keyclaok'
DB_POOL_MIN='2'
DB_POOL_MAX='5'
DB_SSL='false'
DB_SSL_IGNORE_SERVER_IDENTITY='false'


LOG_CONSOLE_LEVEL='info'
LOG_FILE_ACTIVE='false'
LOG_FILE_LEVEL=
LOG_FILE_NAME=

# docker-compose

# Which port will Node run on host
NODE_HOST_PORT='3000'
# Which port will Node debugger run on host
NODE_HOST_DEBUG_PORT='9229'
# Which port will postgres run on host
DB_HOST_PORT='5434'
# The current user's gid and uid. You can find that by running the command id
GROUP_ID='1000'
USER_ID='1000'

# Keycloak
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080/auth
REALM_NAME=poc-keycloak
CLIENT_ID_ADMIN=28ca1f0e-2d15-11ec-8d3d-0242ac130003
SECRET_ADMIN=6645dfb0-6861-4aef-bccf-ce3118e53b02
CLIENT_ID_USER=3906342c-2d13-11ec-8d3d-0242ac130003
SECRET_USER=241e9e34-2235-46ce-9306-efa5ce4feeff